@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'poppins';
  src: var(--font-poppins);
  
}
/* In your global CSS file */
.vertical-timeline.vertical-timeline-custom-line::before {
  background: #5b5bae !important; /* Timeline line color */
}

@media (max-width: 768px) {
  .vertical-timeline-element-content {
    padding: 1rem !important;
  }
}
